*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Archivo', sans-serif;	
}

.container 
{
	max-width: 800px;
	margin: 0 auto;
}

.container-to-center
{
	max-width: 460px;
	height: 75px;
	padding-top: 8px;
	margin: 0 auto;
	background-color: #AAA;
	border-radius: 0 0 5px 5px;
}

.container-to-center h1, h4 
{
	text-align: center;		
}

.container-menu
{
	max-width: 400px;
	margin: 0 auto;
	text-align: center;	
}

.container-menu ul li
{
	display: inline-block;
	list-style-type: none;
	padding-left: 20px;
	margin-top: 5px;
}

.container-menu ul li a
{
	color: #000;
	border-bottom: 3px solid #333;
	text-decoration: none;
}

.container-menu ul li a:hover
{
	color: #000;
	border-bottom: 3px solid #999;
}

.container-context
{
	max-width: 450px;
	height: 100%;
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px 4px;
}

.container-context h1, p
{
	text-align: justify;
}

.container-context p
{
	margin-top: 5px;
	line-height: 25px;
}

.container-footer 
{
	max-width: 450px;
	height: 30px;
	margin: 0 auto;
	padding: 8px;
	background-color: #AAA;
	border-radius: 5px 5px 0 0;
}

.container-footer p
{
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

a 
{
	text-decoration: none;
}

a:active, a:visited
{
	color: #0000FF;
}

a:hover
{
	color: #FF0000;
}